<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metro Max</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./cdn/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./cdn/js/main.js" type="module" defer></script>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZN4LTD');
    </script>
</head>

<body class="steps-bg">

    <noscript><iframe src="ns" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div id="js-app">

        <div class="fixed-top bg-white text-center">
            <img src="./cdn/images/logo.png" height="45" class="m-2">
            <div class="progress" style="height: 7px;">
                <div class="progress-bar bg-danger progress" :style="{width: step * 100 / steps.length + '%'}"></div>
            </div>
        </div>

        <div v-for="(e, s) in steps" v-show="step == s">
            <div class="container-fluid">
                <div class="container-lg">
                    <div class="container-box">
                        <div>
                            <!-- <h1 class="title"></h1> -->
                            <h1 class="title"><strong v-show="s == 3">Olá {{form.nome}}, </strong>{{e.title}}</h1>
                            <p class="text-center" v-show="e.subtitle.length > 1">{{e.subtitle}}</p>

                            <div class="sizes_box" v-if="e.tamanhos.length > 1">
                                <div v-for="l in allbox" :class="{size_item: true, active: form.size==l.nome}"
                                    @click="next(1); form.size=l.nome">
                                    <div>
                                        <strong>{{l.nome}}</strong>
                                        <small style="font-size: 17px;">{{l.legend}}</small>
                                    </div>
                                    <span>{{l.area}}</span>
                                </div>
                            </div>
                            <form action="javascript:void(0)" v-if="e.form.length > 1">
                                <div class="inputs_lead">
                                    <div v-for="f in e.form">
                                        <label>{{inputForm?.[f]?.legenda}}</label>
                                        <input class="w-100" :type="inputForm?.[f]?.type" v-model="form[f]" required>
                                    </div>
                                </div>
                            </form>

                            <div class="tempo_box" v-show="e.month.length > 1">
                                <span v-for="m in month" @click="next(m.jump)"
                                    :class="{tempo_item: true, active: form?.locacao=='1 a 3 meses'}">
                                    {{m.title}}
                                </span>
                            </div>

                            <div v-if="e.isBudget">
                                <h2 class="subtitle  text-center">
                                    {{allbox[form.size].primaryPrice}} a
                                    {{allbox[form.size].secondPrice}} por mês
                                </h2>
                                <small class="d-block text-center title_2 title_scape"
                                    style="font-size: 15px !important;">
                                    Você sabia que 80% das pessoas escolhem um tamanho de box maior do que
                                    elas precisam?
                                </small>
                                <br>
                                <strong class="d-block text-center subtitle title_scape">{{form.nome}}, como você pretende fazer?
                                </strong>
                                <div class="grid_btn_ico">
                                    <span style="font-size: 16px !important;" @click="next(1); whats()"
                                        :class="{ 'text-center': true, call_item_salt:true, active: form.pulou=='sim'}">
                                        <img src="./cdn/ico/atendimento.svg" class="ico_btn">
                                        Quero falar com uma pessoa agora mesmo
                                    </span>
                                    <span style="font-size: 16px !important;" @click="next(1)"
                                        :class="{ 'text-center': true, call_item_salt:true, active: form.pulou=='nao'}">
                                        <img src="./cdn/ico/cotacao.svg" class="ico_btn">
                                        <b>
                                            Ter uma cotação personalizada
                                        </b> <br>
                                        <small>(Menos de 2 minutos)</small>
                                    </span>
                                </div>
                            </div>

                            <div class="text-center w-guard" v-if="e.btn.length > 1">
                                <span v-for="b in btns" :class="{call_item:true, active: form.guard==b.title}"
                                    @click="next(b.jump); form.guard=b.title">
                                    <i :class="'bi '+ b.ico"></i>
                                    {{b.title}}
                                </span>
                            </div>

                            <div v-show="e.itens" class="cubo-grid">
                                <div v-for="idProd in e.itens" class="cubo">
                                    <span style="font-size: 15px !important;" :style="{'background-image': 'url(./cdn/icons/'+Prod[idProd].ico+'.svg)'}">
                                        {{Prod[idProd].title}}
                                    </span>
                                    <input type="text" min="0" @input="mascaraNumber" v-model="form.product[idProd]">
                                </div>
                            </div>

                            <div v-if="e.question" class="text-center">
                                <span :class="{link_confirm:true}" v-for="(q, qIndex) in e.question" @click="next(q); sendBlue()" v-show="s==20">
                                    <i :class="{
                                            'bi' : true ,
                                            'bi-hand-thumbs-down': !qIndex, 
                                            'bi-hand-thumbs-up' : qIndex,
                                            'display-4' : true
                                        }"></i>
                                    <br />
                                    {{qIndex ? 'SIM' : 'Não'}}
                                </span>
                                <span :class="{link_confirm:true}" v-for="(q, qIndex) in e.question" @click="next(q)" v-show="s!=20">
                                    <i :class="{
                                            'bi' : true ,
                                            'bi-hand-thumbs-down': !qIndex, 
                                            'bi-hand-thumbs-up' : qIndex,
                                            'display-4' : true
                                        }"></i>
                                    <br />
                                    {{qIndex ? 'SIM' : 'Nâo'}}
                                </span>
                            </div>
                            

                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <div @click="back" v-show="s!=0 && s!=23" class="voltar">Voltar</div>
                                </div>
                                <div @click="next(1)" v-show="s!=1 && s!=22 && s!=23" class="voltar avancar">Avançar
                                </div>
                                <div @click="next(1); autosave(); newLead()" v-show="s==1 && s!=23 && form['nome'] && form['sobreNome'] && form['telefone'] && form['email']" class="voltar avancar">Avançar
                                </div>
                                <div @click="next(1); sendBlue()" v-show="s==22 && s!=23" class="voltar avancar">Avançar
                                </div>
                            </div>

                            <div v-if="e.final">

                                <h1 class="title_2 text-center">
                                    Olá, {{form.nome}}. O seu orçamento <br>
                                    é aproximadamente de: R$ {{valorReal()}}
                                </h1>
                                <br>
                                <h2 class="subtitle text-center">
                                    Metragem necessária: {{metrosReal()}}m³ <br>
                                    O box necessário é de {{calc()}}m² e
                                    o valor é de R$ {{valorReal()}} por mês. <br>
                                    <br>
                                    Fale conosco agora mesmo! <br>
                                    <div class="text-center mt-4">
                                        <span class="btn btn-success w-25" style="padding-block: 15px;"
                                            @click="form.contato='whatsapp'; finish(); whats()">
                                            <i class="bi bi-whatsapp"></i>
                                            <span class="ms-2" style="font-size: 17px;">Conversar no WhatsApp</span>
                                        </span>
                                    </div>
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-bag" @click="openBag=!openBag">
            <i :class="{ 'bi': true, 'bi-bag': !openBag }"></i>
            <i :class="{ 'bi': true, 'bi-x-lg': openBag }"></i>
        </div>

        <div :class="{ 'bg-danger': true, 'text-white': true, 'p-2': true, 'op-bag': true, 'open': openBag  }">
            {{dataPrint()}} <br>
            <br>
            <small>Nome</small>: <br>
            {{form.nome}} {{form.sobreNome}} <br>
            <br>
            <small>Telefone</small>: <br>
            {{form.telefone}} <br>
            <br>
            <small>Email</small>: <br>
            {{form.email}} <br>
            <br>
            <span> Metragem: {{metrosReal()}}m³ </span> <br>
            <span>Itens:</span> <br>
            <ul>
                <li v-for="(c, key) in form.product" style="font-size: 11px;">
                    {{key}} - {{c}}
                </li>
            </ul>
        </div>


    </div>

</body>

</html>