@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.steps-bg {
    display: block;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg.png);
    background-position: center;
}

.container-box {
    background-color: #fffff4;
    width: 600px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #666;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: bolder;
    color: #58585a;
}

.step-logo {
    height: 100px;
    display: block;
    margin-bottom: 12px;
    margin: 30px auto;
    background-color: #fffff4;
    padding: 7px 14px;
}

.quase-hidden {
    display: block;
    width: 2px;
    height: 2px;
}

.obs {
    display: block;
    font-size: 11px;
    text-align: right;
}

.valor {
    display: inline-block;
    background-color: #C00;
    color: #FFF;
    padding: 7px 14px;
    margin-left: 14px;
}

.steps {
    display: flex;
    border: 1px solid #C00;
    border-radius: 8px;
    padding: 14px 7px;
    background-color: #FFF;
    margin-bottom: 24px;
    margin-top: 7px;
}

.steps>:last-child {
    border: none;
}

.step-item {
    font-size: 24px;
    display: flex;
    border-right: 1px solid #DDD;
    padding: 0 12px;
    border-radius: 4px;
    padding: 7px 14px;
}

.step-item>span {
    display: none;
    margin-left: 7px;
}

.step-item-active {
    background-color: #C00;
    color: #FFF;
}

.step-item-active>span {
    display: block;
}

.box-model {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    border: 1px solid #C006;
    border-radius: 8px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, .2);
    font-size: 20px;
    font-weight: bolder;
    color: #C00;
    background-color: #fffff4;
    line-height: 20px;
    padding-bottom: 40%;
    padding-top: 40%;
}
.box-model small {
    font-size: 16px;
}

input:checked~.box-model {
    background-color: #C00;
    color: #FFF;
}

.not-click {
    pointer-events: none;
}

.next {
    pointer-events: none;
    opacity: .5;
}