@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #FFF;
    padding: 30px 0;
    margin-bottom: 70px;
}

.logo {

    background-image: url('../images/logo.png');
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: 20px 0;
    height: 40px;

}

.steps-bg {
    display: block;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg-box.jpg);
    background-position: center;
    background-size: cover;
}

.container-box {
    background-color: #FFF;
    padding: 50px !important;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .2);
    min-height: 60vh;
    position: relative;
}

.title_2,
.title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    color: #C00;
    margin-bottom: 30px;
}

.step-logo {
    height: 100px;
    display: block;
    margin-bottom: 12px;
    margin: 30px auto;
    background-color: #fffff4;
    padding: 7px 14px;
}

.quase-hidden {
    display: block;
    width: 2px;
    height: 2px;
}

.obs {
    display: block;
    font-size: 11px;
    text-align: right;
}

.valor {
    display: inline-block;
    background-color: #C00;
    color: #FFF;
    padding: 7px 14px;
    margin-left: 14px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

}

.steps span {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .2);
    height: 10px;
    width: 100%;
    margin: 0 7px;
}

.steps span.ative {
    background-color: #FFF;
}

.step-item {
    font-size: 24px;
    display: flex;
    border-right: 1px solid #DDD;
    padding: 0 12px;
    border-radius: 4px;
    padding: 7px 14px;
}

.step-item>span {
    display: none;
    margin-left: 7px;
}

.step-item-active {
    background-color: #C00;
    color: #FFF;
}

.step-item-active>span {
    display: block;
}

.box-model {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    border: 1px solid #C006;
    border-radius: 8px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, .2);
    font-size: 20px;
    font-weight: bolder;
    color: #C00;
    background-color: #fffff4;
    line-height: 20px;
    padding-bottom: 40%;
    padding-top: 40%;
}

.box-model small {
    font-size: 16px;
}

input:checked~.box-model {
    background-color: #C00;
    color: #FFF;
}

.not-click {
    pointer-events: none;
}

.next {
    pointer-events: none;
    opacity: .5;
}

.tel {
    font-size: 18px;
    color: #C00;
    line-height: 40px;
    font-weight: bolder;
}

.header_iten {
    line-height: 40px;
    font-size: 18px;
}

.header_iten b {
    color: #C00;
}

.rodape {
    display: block;
    width: 100vw;
    height: 40vh;
    background-color: #C00;
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.size_item {
    border-radius: 10px;
    text-align: center;
    background-color: #666;
    display: grid;
    grid-template-columns: 1fr 20%;
    cursor: pointer;
}

.size_item.active,
.size_item:hover {
    background-color: #800;
}

.size_item>div {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    background-color: #DDD;
    border-radius: 10px;
    padding: 20px;
}

.size_item.active>div,
.size_item:hover>div {
    background-color: #C00;
}

.size_item>span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.size_item>div>strong {
    color: #777;
    font-size: 28px;
}

.size_item>div>small {
    color: #777;
}

.size_item.active>div>strong,
.size_item.active>div>small,
.size_item:hover>div>small,
.size_item:hover>div>strong {
    color: #FFF;
}

.sizes_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.inputs_lead {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.inputs_lead input {
    display: block;
    background-color: #DDD;
    border: none;
    line-height: 40px;
    text-indent: 20px;
    border-radius: 4px;

}

.voltar {
    display: inline-block;
    padding: 7px 22px;
    color: #777;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
    border-radius: 8px;
    border: 1px solid #EEE;
    cursor: pointer;
    margin-top: 30px;
}

.voltar:hover {
    background-color: #C00;
    color: #FFF;
    border: 1px solid #C00;
}

.avancar {
    background-color: #C00;
    color: #FFF;
    border: 1px solid #C00;
}

.avancar:hover {
    background-color: #800;
    border: 1px solid #800;
}

.tempo_box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.tempo_item {
    background-color: #DDD;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    color: #777;
    font-size: 18px;
    cursor: pointer;
}

.tempo_item.active,
.tempo_item:hover {
    background-color: #C00;
    color: #FFF;
}

.title_2 {
    text-align: left;
    margin-bottom: 0;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #777;
}

.call_item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #DDD;
    border-radius: 8px;
    padding: 7px 20px;
    margin-top: 20px;
    font-size: 24px;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.call_item i {
    margin-right: 25px;
}

.call_item.active,
.call_item:hover {
    background-color: #C00;
    color: #FFF;
}

.call_item_salt {
    display: block;
    align-items: center;
    width: 100%;
    background-color: #DDD;
    border-radius: 8px;
    padding: 7px 20px;
    margin-top: 20px;
    font-size: 18px;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.call_item_salt i {
    margin-right: 25px;
}

.call_item_salt.active,
.call_item_salt:hover {
    background-color: #C00;
    color: #FFF;
}

.link_confirm {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 4px;
    background-color: #DDD;
    color: #777;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 7px;
    cursor: pointer;
}

.link_confirm.active,
.link_confirm:hover {
    background-color: #800;
    color: #FFF;
}

.call_action_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

.call_action {
    display: inline-flex;
    cursor: pointer;
}

.call_action i,
.call_action span {
    background-color: #DDD;
    display: block;
    border-radius: 4px;
    margin: 0 7px;
    font-size: 24px;
    padding: 7px 14px;
    color: #777;
}

.call_action:hover i,
.call_action:hover span {
    color: #FFF;
    background-color: #C00;
}

.container {
    width: 960px;
    max-width: 90vw;
}

.ico_btn {
    display: block;
    height: 50px;
    margin: 10px auto;
}

.grid_btn_ico {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.box-btn-next {
    display: block;
    text-align: right;
    margin-bottom: -75px;
}

.title_scape {
    font-size: 17px !important;
}

.cubo-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.cubo {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 20px;
}

.cubo span {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: #DDD;
    border-radius: 5px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 70px;
    font-size: 12px;
}

.cubo input {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #DDD;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    border: none;
    padding-left: 10px;
}

@media (min-width: 800px) {
    .cubo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .title_scape {
        font-size: 18px !important;
    }

    .w-guard {
        width: 50%;
        margin: 0 auto;
    }

    .title {
        font-family: 60px;
    }

    .sizes_box {
        grid-template-columns: repeat(5, 1fr);
    }

    .size_item {
        grid-template-columns: 1fr;
    }

    .size_item>span {
        font-size: 18px;
    }

    .size_item>div {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 7px;
    }

    .size_item>div>strong {
        font-size: 35px;
    }

    .size_item>div>small {
        font-size: 12px;
    }

    .inputs_lead {
        grid-template-columns: repeat(2, 1fr);
    }

    .tempo_box {
        grid-template-columns: repeat(4, 1fr);
    }

    .tempo_item {
        font-size: 30px;
        min-height: 100%;
        align-items: center;
        padding: 30px 20px;
    }

    .call_action_grid {
        display: flex;
        justify-content: center;
        margin: 10vh 0;
    }

    .call_action {
        /* display: flex; */
        cursor: pointer;
    }

    .title_2,
    .title {
        font-size: 45px;
    }

    .subtitle {
        font-size: 40px;
    }

    .grid_btn_ico {
        grid-template-columns: repeat(2, 1fr);
    }

    .call_item {
        width: 270px;
        margin: 10px auto;
        font-size: 30px;
    }

    .call_item_salt {
        width: 100%;
        margin: 10px auto;
        font-size: 12px;
    }
}